@import "./default_variables.scss";

.titleBar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	display: flex;
	background-color: #100927;
}
.titleButton {
	float: right;
	background: none;
	border-radius: 0px;
	color: white;
	width: 50px;
	height: 100%;
	&:hover{
		background-color: $darkblue;
	}
}
.titleButton img {
	margin: auto;
	filter: $filter-white;
	width: 13px;
}
.titleCloseButton {
	&:hover{
		background-color: #b90000;
	}
}
.titleOther {
	float: left;
	width: 100%;
	height: 100%;
}